div#maplinks {top:0; height:100%;}

div#topbar {
    right: 30px;
    top: 30px;
    left: initial;
}

div#maplinks h3 {
  margin-top: 30px;
}

#toggleLabels {
  position: absolute;
  top: 70px;
  left: 380px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 8px 13px;
}

#toggleLabels:hover {
  background-color:#eee;
  cursor:pointer;
}

.countylabel {display: inherit;}

div#tabs {
  top: -2px;
  left: 366px;
  right: initial;
}